{% extends 'base.html' %}
{% block head%}
{% endblock %}
{% block body %}
<h1>Add Password</h1>
<div style="text-align:center">
      <form action="/add" method="POST">
        <hr>
        <div class="account-type">
          <input type="radio" value="personal" id="radioOne" name="account" checked/>
          <label for="radioOne" class="radio">Personal</label>
          <input type="radio" value="enterprise" id="radioTwo" name="account" />
          <label for="radioTwo" class="radio">Enterprise</label>
        </div>
        <hr>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name" id="name" placeholder="Name"/>
	<br>
        <label id="icon" for="username"><i class="fas fa-envelope"></i></label>
        <input type="email" name="username" id="username" placeholder="Username" required/>
	<br>
	<div style="display: flex; flex-direction:row; margin-left:155px;">
		<div style="width:190px">
	<label id="icon" for="password"><i class="fas fa-unlock-alt"></i></label>
			<input id="pass" style="width:60%;" type="password" name="password" placeholder="Password" required/>
		</div>
		<div>
			<button class="btn btn-primary btn-sm" id="random" type="button" style="width:80px; margin-top:17px;">Random</button>

	<script type="text/javascript">
		$('#random').on('click', function getRandomPassword(){
			$.ajax({
				type: 'GET',
				url: '/random',
				success: function(passwords){
					$.each(passwords, function(i, password){
						$('#pass').val(password);
					});
				}});
			});
	</script>
		</div>


	</div>
	<br>
        <div class="btn-block">
		<form>
		  <button  class="btn btn-primary" type="submit" >Add</button>
		</form>
        </div>
      </form>
</div>
	  <form action="/home" method="GET">
		  <div style='text-align:center; margin-top: 10px'>
			  <button class="btn btn-primary" style="margin:0">Back</button>
			  <div>
	  </form>

</div>
{% endblock %}
