{% extends 'base.html'  %}							
{% block head  %}
<title>
	Details </title>
<style>
.main-block,.main{
	width:820px;
}
</style>
{% endblock  %}
{% block body  %}
<br>
        <h1> Password details </h1>
	<br><br>
<table>
	<tr>
		<th>Name</th>
		<th>Username</th>
		<th type="password">Password</th>
		<th style="width:60px">Control</th>
		<th>Date Created</th>
		<th style="width:60px">Date Modified</th>
	</tr>
	<tr>
		<td style="max-width:80px" >
			<div style="overflow:auto">
				{{ record.Name }}
			</div>

		</td>
		<td style="max-width: 200px">
			<div style="overflow:auto">
				{{ record.Username }}
			</div>
		</td>
		<td>
			<button class="btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-text={{record.Password}} style="width:100px" onclick= "this.innerHTML='Copied';">Copy</button>
		</td>
		<td>
			<form style="margin:auto" action="/update/{{record.Id}}" method="GET">
			<button class="btn btn-warning btn-sm" style="width:100px">Update</button>
			</form>

			<form style="margin:auto" action="/delete/{{record.Id}}" method="GET">
			<button class="btn btn-danger btn-sm" style="width:100px; margin:5px 0px">Delete</button>
			</form>
		</td>
		<td style="max-width:140px">{{ record.date_created }}</td>
		<td style="max-width:140px">{{ record.date_modified }}</td>
	</tr>
</table>
<br><br>
<form class='btn-block' style="margin:auto" action="/home" method="GET">
<button class="btn btn-primary">Back</button>

</form>

{% endblock  %}
