{% extends 'base.html' %}
{% block head %}
<style>
	.main{
		padding: 85px;
	}
</style>
    <title>Password Manager</title>
{% endblock %}

{% block body %}
<br>
	<h1> Passwords </h1>
	<br><br>
	<table class="table table-striped table-hover table-bordered table-sm">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th type="password">Password</th>
				<th style="width:60px">Control</th>
			</tr>
		</thead>
		<tbody>
		{% for record in records %}
		<tr>
		<td style="max-width:80px" >
			<div style="max-height:150px; overflow:auto">{{ record.Name }}</div>
		</td>
		<td style="max-width: 200px"> 
		<div style="max-height:150px; overflow:auto">{{ record.Username }}
		</div>
		</td>
		<td>
		  <button class="btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-text={{record.Password}} style="width:70px; margin:41px 0px;" onclick= "this.innerHTML='Copied';" id="copy">Copy</button>
		</td>

		<td>
		
		  <form style="margin:auto" action="/update/{{record.Id}}" method="GET">
			  <button  class="btn btn-warning btn-sm" >Update</button>
		  </form>

		  <form style="margin:auto; padding:10px 0px" action="/delete/{{record.Id}}" method="GET">
			  <button class="btn btn-danger btn-sm">Delete</button>
		  </form>

		  <form style="margin:auto; padding:0px" action="/details/{{record.Id}}" method="GET">
			  <button class="btn btn-primary btn-sm">Details</button>
		  </form>

		</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
	  <form action="/add" method="GET">
		  <div  style="margin:auto; width:220px" class="btn-block">
			  <button class="btn btn-primary"  >Add Password</button>
		</div>
	  </form>
    </div>
{% endblock %}
