{% extends "base.html"  %}
{% block body %}
<br>
<h1>Sign In</h1>
    <br><br><br>
	    {% with errors = get_flashed_messages(with_categories=true) %}
{% if errors %}
    {% for msg in errors %}
    <div id="alertBox" class="alert alert-{{ msg[0]  }} alert-dismissible fade show" style="width:351px; height:59px; font-size:15px; margin:auto; padding-right:0px;">
	    <strong id='alertType'></strong> {{ msg[1] }}

		    <button style="float: right; background-color: Transparent; outline:none; color:#055160" type="button" onclick="document.getElementById('alertBox').style.display='none'">&times;</button>
</div>
	    	<script>
		switch ("{{ msg[0] }}"){
			case "warning":
				document.getElementById('alertType').innerHTML = "Warning!";
				break;
			case "danger":
				document.getElementById('alertType').innerHTML = "Error!";
				break;
			case "info":
				document.getElementById('alertType').innerHTML = "Success!";
				break;
		};
	</script>

    {% endfor %}
{% endif %}
{% endwith %}
<div style="text-align:center">
        <form method="POST" action="/">
            <div>
		<label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input style="height:42px" type="email" name="Username" placeholder="Username">
            </div>

            <div>
		    <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
                    <input style="height:42px" type="password" name="Password" placeholder="Master Password">
            </div>

	    <div class="btn-block">
		    <button class="btn btn-primary" type="submit">Sign In</button>
	    </div>

        </form>
	<form action="/signup" method="GET">
	    <div class="btn-block">
		    <button class="btn btn-primary">Sign Up</button>
	    </div>
	 </form>

    </div>
</div>
</body>
{% endblock  %}
