{% extends 'base.html' %}
{% block head%}
{% endblock %}
{% block body %}
<h1>Update Password</h1>
<div style="text-align:center">
      <form action="/update/{{record.Id}}" method="POST">
        <hr>
        <div class="account-type">
          <input type="radio" value="personal" id="radioOne" name="account" checked>
          <label for="radioOne" class="radio">Personal</label>
          <input type="radio" value="enterprise" id="radioTwo" name="account" >
          <label for="radioTwo" class="radio">Enterprise</label>

        </div>
<script>
	var x = '{{ record.AccountType  }}';
	localStorage.setItem ('type','{{ record.AccountType  }}')
        function setChecked() {
	   document.getElementById('radioOne').removeAttribute('checked');
	   document.getElementById('radioTwo').setAttribute('checked','checked');
  }
if (x == "enterprise"){
		setChecked();
	}

</script>

        <hr>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
	<input type="text" name="Name" id="Name" placeholder="Name" value={{record.Name}}>

	<br>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
	<input type="email" name="Username" id="Username" placeholder="Username" value={{record.Username}} required/>

	<br>

        <div style="display: flex; flex-direction:row; margin-left:155px">
	<div style="width:190px">
	<label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
	<input id="pass" style="width:60%" type="password" name="password" placeholder="Password" value={{record.Password}} required/>
	</div>
	<div>
	<button class="btn btn-primary btn-sm" id="random" type="button" style="width:80px; margin:16px 0px">Random</button>
	<script type="text/javascript">
		$('#random').on('click', function getRandomPassword(){
			$.ajax({
			type: 'GET',
			url: '/random',
			success: function(passwords){
				$.each(passwords, function(i, password){
				$('#pass').val(password);
			});
		}});
	});
        </script>

	</div>
	</div>
	<br>


	<div class="btn-block">
		<button class="btn btn-primary" type="submit" >Confirm</button>
	</div>
      </form>
	  <form action="/home" method="GET">
		  <div class="btn-block">
			  <button class="btn btn-primary" style="margin:0" >Back</button>
		</div>
	  </form>

</div>
{% endblock %}
